@import url('https://fonts.googleapis.com/css2?family=Paprika&family=Roboto:wght@300&display=swap');

body{
  font-family: 'Paprika', cursive;
  font-family: 'Roboto', sans-serif;
}

.App {
  text-align: center;
}

nav{
  height: 10vh;
  background-color:rgb(35, 18, 18);
  display: flex;
  align-items: center;
  justify-content: center;
}

nav > img{
  width: 30px;
  height: 30px;
  margin-right: 5px;
}

nav > span{
  font-size: 25px;
  color: white;
}

.Container{ 
  display: flex;
  flex-direction: column;
  align-items: center;
}

.Main--content{
  display: flex;
  flex-direction: row;
  width: 75%;
  height: 100%;
  align-items: center;
  margin: 10px 0px;
}
.travel--image img{
  height: 190px;
  width: 150px;
  object-fit: cover;
  border-radius: 10px;
}
.travel--location img{
  width: 10px;
  height: 10px;
  margin-left: 15px;
}
.travel--location span{
  margin-left: 4px;
  letter-spacing: 0.1rem;
}

.travel--location a{
  margin-left: 20px;
  font-size: 13px;
  color: gray;  
}

.travel--details{
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.travel--info p{
  margin: 4px 15px;
  text-align: left;
  font-size: 13px;
}
.travel--title h1{
  margin: 3px 15px;
  font-size: 25px;
}

.travel--date h3{
  margin: 6px 15px;
  font-size: 13px;  
}

@media screen and (max-width:850px){
  .Main--content{
    width: 85%;
  }
}
@media screen and (max-width:650px){
  .Main--content{
    width: 85%;
  }
  .travel--image img{
    height: 160px;
    width: 130px;
  }
  .travel--title h1{
    margin: 3px 15px;
    font-size: 19px;
  }
  
  .travel--date h3{
    margin: 6px 15px;
    font-size: 12px;  
  }
}
@media screen and (max-width:400px){
  .Main--content{
    width: 93%;
  }
  .travel--image img{
    height: 160px;
    width: 130px;
  }
  .travel--title h1{
    margin: 3px 15px;
    font-size: 17px;
  }
  .travel--location span{
    font-size: 12px;
  }
  .travel--location a{
    font-size: 10px;
  }
  .travel--date h3{
    margin: 6px 15px;
    font-size: 11px;  
  }
  .travel--info p{
    font-size: 12px;  
    margin-right: 0px;
  }
}
@media screen and (max-width:460px){
  .Main--content{
    width: 90%;
  }
  .travel--image img{
    height: 160px;
    width: 130px;
  }
  .travel--title h1{
    margin: 3px 10px;
    font-size: 17px;
  }
  .travel--location span{
    font-size: 12px;
    letter-spacing: 0.06rem;
  }
  .travel--location a{
    font-size: 10px;
    margin-left: 6px;
  }
  .travel--location img{
    font-size: 10px;
    margin-left: 10px;
  }
  .travel--date h3{
    margin: 1px 10px;
    font-size: 11px;  
  }
  .travel--info p{
    font-size: 12px;  
    margin-left: 10px;
    margin-right: 0px;
  }
  nav > img{
    width: 25px;
    height: 25px;
  }
  
  nav > span{
    font-size: 20px;
    color: white;
  }
  
}